In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("Spacex.csv")
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [31]:
dates = df['Date']
new_dates = []
for date in dates:
    l = date.split('-')
    new_dates.append(l[2] + '-' + l[1] + '-' + l[0])

In [32]:
new_dates

['2010-06-04',
 '2010-12-08',
 '2012-05-22',
 '2012-10-08',
 '2013-03-01',
 '2013-09-29',
 '2013-12-03',
 '2014-01-06',
 '2014-04-18',
 '2014-07-14',
 '2014-08-05',
 '2014-09-07',
 '2014-09-21',
 '2015-01-10',
 '2015-02-11',
 '2015-03-02',
 '2015-04-14',
 '2015-04-27',
 '2015-06-28',
 '2015-12-22',
 '2016-01-17',
 '2016-03-04',
 '2016-04-08',
 '2016-05-06',
 '2016-05-27',
 '2016-06-15',
 '2016-07-18',
 '2016-08-14',
 '2017-01-14',
 '2017-02-19',
 '2017-03-16',
 '2017-03-30',
 '2017-05-01',
 '2017-05-15',
 '2017-06-03',
 '2017-06-23',
 '2017-06-25',
 '2017-07-05',
 '2017-08-14',
 '2017-08-24',
 '2017-09-07',
 '2017-10-09',
 '2017-10-11',
 '2017-10-30',
 '2017-12-15',
 '2017-12-23',
 '2018-01-08',
 '2018-01-31',
 '2018-02-22',
 '2018-03-06',
 '2018-03-30',
 '2018-04-02',
 '2018-04-18',
 '2018-05-11',
 '2018-05-22',
 '2018-06-04',
 '2018-06-29',
 '2018-07-22',
 '2018-07-25',
 '2018-08-07',
 '2018-09-10',
 '2018-10-08',
 '2018-11-15',
 '2018-12-03',
 '2018-12-05',
 '2018-12-23',
 '2019-01-11',
 '2019-02-22',
 '2019-03-02',
 '2019-05-04',
 '2019-05-24',
 '2019-06-12',
 '2019-07-25',
 '2019-08-06',
 '2019-11-11',
 '2019-12-05',
 '2019-12-17',
 '2020-01-07',
 '2020-01-19',
 '2020-01-29',
 '2020-02-17',
 '2020-03-07',
 '2020-03-18',
 '2020-04-22',
 '2020-05-30',
 '2020-06-04',
 '2020-06-13',
 '2020-06-30',
 '2020-07-20',
 '2020-08-07',
 '2020-08-18',
 '2020-08-30',
 '2020-09-03',
 '2020-10-06',
 '2020-10-18',
 '2020-10-24',
 '2020-11-05',
 '2020-11-16',
 '2020-11-21',
 '2020-11-25',
 '2020-12-06']

In [33]:
df['Date'] = new_dates

In [34]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [35]:
df.to_csv('new_spacex.csv', index=False)